p {
  width: 80ch;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

div {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.button {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
  text-align: justify
}